--index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio

--index-url https://pypi.org/simple
PyYAML==6.0.2
schedulefree==1.4
tqdm==4.67.1
simplejson==3.20.1
onnx==1.17.0
onnxsim==0.4.36
onnxruntime==1.21.0
opencv-python==4.11.0.86